extends homepage

block content
	.container
		.header(style=`background-image:url('${mapUrl}');background-size:cover`)

		.title
			h1 Artem Rosnovskiy 
			h2 Web Developer
		
		.square
			span.here I'm 
				br 
				| here
			
		.map
		
		.location
			p 
				a(href=`https://www.google.com/maps/@${locations.current.lat},${locations.current.lng},14z`) #{locations.current.venue}
			| #{locations.current.city}, #{locations.current.state}
		
		.insert
			h3 Tech
			p.tech This site runs as a 
				span.highlighter Node.js
				|  application, featuring 
				span.highlighter MongoDB and Express
				| . This page makes asynchronus requests to Foursquare and Google Maps Static APIs featuring 
				span.highlighter async/await 
				| and some ES6 beauty. It tracks my last Swarm checkin, adds a venue name with a link and points the location on a map.

		.next
			h2 What else can you do? >

