extends homepage

block content
	.container
		.navbar
			h1.title @rosnovsky / web dev
		
		.insert
			h3 Tech
			
			p.tech I'm a Web Developer from Seattle, WA. Here's a quick status update. 
			
			p.tech I'm at 
				span.highlighter #{locations.current.venue}
				|  in #{locations.current.city}, #{locations.current.state}
				| , or at least that's where I checked-in last. According to Fitbit, today I've made 
				span.highlighter #{fitbitSteps}
				|  steps. In the last 7 days, I've coded 
				span.highlighter #{codingTime.weekly}
				|  in 
				span.highlighter #{codingTime.language}
				|  and 
				span.highlighter #{codingTime.languageRunnerUp}
				| , using 
				span.highlighter VS Code
				|  mostly. When I'm not coding, I read, and my current book is #{book.title} by #{book.authors}.
			
			p.tech This is a simple status app is made with Node, Express, Pug, Stylus, React, Redux, and uses Fitbit, Foursquare, Wakatime APIs, and Google Books.

			p.tech Here's my 
				span.highlighter Github
				|  account, updated resume, and Instagram account. 

			h4 Here's where I stand professionally:
			
			p
				strong Web dev
				| : HTML5, CSS3, Javascript (ES2015), React, Pug/Jade, Stylus, Node.js, Express, jQuery, gulp, Webpack, npm, Sass, Bootstrap, git, bash, Apache, nginx, PHP, MySQL, SSL
			p
				strong Design and Media
				| : Adobe Photoshop, Illustrator, AfterEffects, Premier Pro, Dreamweaver, Flash (including ActionScript), Audition, Sketch by Bohemian, Adobe Experience Manager (AEM)
			p
				strong In Progress
				| : Redux, MongoDB, Docker