extends homepage

block content
	.container
		.navbar
			h1.title @rosnovsky / web dev

		.header(style=`background-image:url('${mapUrl}');background-size:cover`)
			
		.square
			span.here I'm 
				br 
				| here
			
		.map
		
		.location
			p 
				a(href=`https://www.google.com/maps/place/${locations.current.venue}/@${locations.current.lat},${locations.current.lng},15z`) #{locations.current.venue}
			| #{locations.current.city}, #{locations.current.state}
		
		.insert
			h3 Tech
			p.tech This site runs as a 
				span.highlighter Node.js
				|  application, featuring 
				span.highlighter Express, Pug and Stylus
				|  as well as gulp with nodemon and browser-sync for development convenience. The app makes asynchronus requests to Foursquare and Google Maps Static APIs using 
				span.highlighter async/await
				|  and some ES2015 (aka ES6) beauty. It tracks my last Swarm check-in, adds a venue name with a map link and points the location on a map.

		.next
			h2 What else can you do? >

